.job__wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;

}

.hr__wrapper .selected-candidates-container {
  width: 100%;
  margin: 0 auto;
}

.hr__Job__Tile__Container {
  width: 88%;
  margin: 0 auto;
}

.hr__Job__Tile__Container .job-tile-container .applicant-experience {
  color: #838383;
}

.hr__Job__Tile__Container .selected-candidate-screen-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.hr__Job__Tile__Container .project-details-container {
  width: 100%;
}

.search {
  position: relative;
  margin-top: 6%;
  margin-bottom: 6%;
}

.job__wrapper>* {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(40px);
}

.job-tile-container:last-child {
  margin-bottom: 35%;
}

.hr__Job__Tile__Container .selected-candidate-screen-container {
  padding-left: 0;
  padding-right: 0;
}

.sort__Title__Item {
  width: 86%;
  margin: 0 auto 4%;
}

.sort__Margin__Bottom {
  margin-top: 5%;
  padding-bottom: 5%;
}

.title__Navigation__Bar__Container {
  margin-top: 0;
}

.hr__wrapper {
  margin-top: 5%;
  margin-bottom: 52%;
}

.hr__wrapper .job__wrapper .job__Card__Container {
  margin-top: 4%;
}

.hr__Page__Container {
  position: relative;
}

.refresh-container {
  position: absolute;
  right: 4rem;
  top: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  background-color: #005734;
  color: #fff;
  border: none;
  cursor: pointer;
}

#refresh-container {
  position: absolute;
  top: 10rem;
}

.refresh-container:hover {
  background-color: #005734;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 84, 50, 1);
  transition: 0.2s ease;
}

.refresh-btn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.refresh-btn svg {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  color: #fff;
  right: 7rem;
}

.refresh-btn p {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.hr__Page__Container .tasks-container.hr__Page .job__Card__Container {
  width: 100%;
  margin-bottom: 4%;
}

.hr__Page__Container .tasks-container.hr__Page {
  margin-bottom: 30%;
}

@media screen and (max-width: 300px) {
  .search {
    margin-top: 30%;
    margin-bottom: 10%;
  }

  #refresh-container {
    position: absolute;
    top: 13rem !important;
    z-index: 1000;
    right: 2rem;
  }
}

@media screen and (min-width: 300.98px) {
  .search {
    margin-top: 20%;
  }

  #refresh-container {
    position: absolute;
    top: 13rem !important;
    z-index: 1000;
    right: 2rem;
  }
}

@media (min-width: 470px) and (max-width: 575.98px) {
  .search {
    margin-top: 18%;
  }

  #refresh-container {
    position: absolute;
    top: 13rem !important;
    z-index: 1000;
    /* right: 7.4rem; */
    top: 10rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .search {
    margin-top: 14%;
  }

  #refresh-container {
    position: absolute;
    top: 16rem !important;
    z-index: 1000;
    right: 7.4rem;
    top: 10rem;
  }



}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search {
    margin-top: 11%;
  }

  .job__wrapper .job-tile-container {
    display: inline-block;
  }

  .job__wrapper {
    width: 89%;
  }

  .job__wrapper .job-tile-container:nth-child(2n + 2) {
    margin-right: 0;
  }

  .job__wrapper>* {
    width: calc(96% / 2);
    margin-right: 4%;
  }

  .hr__Job__Tile__Container {
    width: 87%;
  }

  .hr__Job__Tile__Container .job-tile-container {
    width: calc(96% / 2);
    display: inline-block;
    margin-right: 4%;
  }

  .hr__Job__Tile__Container .job-tile-container:nth-child(2n + 2) {
    margin-right: 0;
  }

  .hr__Job__Tile__Container .selected-candidate-screen-container {
    width: 98%;
  }

  .sort__Title__Item {
    margin-bottom: 2%;
  }

  #refresh-container {
    position: absolute;
    top: 16rem !important;
    z-index: 1000;
    right: 7.4rem;
    top: 10rem;
  }
}

@media screen and (min-width: 992px) {

  .job__wrapper,
  .selected-candidates-container.hr__Page,
  .sort__Title__Item {
    width: 82%;
  }

  .job__wrapper .job-tile-container {
    display: inline-block;
  }

  .job__wrapper .job-tile-container:nth-child(3n + 3) {
    margin-right: 0;
  }

  .job__wrapper>* {
    width: calc(94% / 2) !important;
    margin-right: 4%;
    margin-left: 0;
    margin-top: 4%;
    display: inline-block;
  }

  .job__wrapper>*:nth-child(2n + 2) {
    margin-right: 0;
  }

  .job__wrapper>*:last-child {
    margin-bottom: 15%;
  }

  .job-tile-container:last-child {
    margin-bottom: 10%;
  }

  .hr__wrapper .selected-candidates-container {
    width: 90%;
  }

  .hr__Job__Tile__Container {
    width: 82%;
  }

  .hr__Job__Tile__Container .job__Card__Container {
    width: calc(96% / 2);
    display: inline-block;
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .hr__Job__Tile__Container .job__Card__Container:nth-child(2n + 2) {
    margin-right: 0;
  }

  .hr__Job__Tile__Container .selected-candidate-screen-container {
    width: 100%;
    padding-left: 7.8%;
    padding-right: 7.8%;
    padding-top: 4%;
  }

  .hr__Job__Tile__Container .selected-candidate-screen-container .selected-applicant-details {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 6%;
  }

  .hr__Job__Tile__Container .project-details-container {
    margin: 3% auto 6%;
  }

  .selected-candidates-container.hr__Page {
    padding-left: 0.1%;
    padding-right: 0.1%;
  }

  .tasks-container.hr__Page {
    width: 96%;
  }

  .candidate-task-screen-container.hr__Page {
    padding-left: 0;
    padding-right: 0;
  }

  .candidate-task-screen-container.hr__Page .selected-applicant-intro {
    margin-top: 2%;
    margin-bottom: 4%;
  }

  .candidate-task-screen-container.hr__Page .project-details-container {
    margin-top: 8%;
  }

  .tasks-container.hr__Page.sort__Active:not(:last-of-type) {
    padding-bottom: 0;
  }

  .sort__Title__Item {
    margin-bottom: 2%;
  }

  .tasks-container .add__Btn {
    margin-right: 0;
  }

  .hr__Page__Container {
    margin-bottom: 10%;
  }

  .hr__wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hr__Page__Container .title__Navigation__Bar__Container {
    margin-top: 2%;
    width: 82%;
  }

  .hr__Page__Container .toggler_Nav_Container {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
  }

  .hr__Page__Container .title__Navigation__Bar__Container.view__Application__Navbar .title__Item .back__Icon__Container {
    width: 4.6rem;
  }

  .hr__Page__Container .tasks-container.hr__Page .job__Card__Container {
    width: calc(96% / 2);
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .hr__Page__Container .tasks-container.hr__Page .job__Card__Container:nth-child(2n + 2) {
    margin-right: 0;
  }

  .hr__Page__Container .selected-applicant-info {
    padding-bottom: 0;
  }

  .hr__Page__Container .tasks-container.hr__Page {
    margin-bottom: 0;
  }


}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .search {
    margin-top: 9%;
  }
}

@media screen and (min-width: 1200px) {
  .search {
    margin-top: 3%;
    margin-bottom: 0;
  }

  .hr__wrapper .selected-candidates-container {
    padding-top: 0;
  }

  .hr__Page__Container {
    position: relative;
  }

  .refresh-container {
    position: absolute;
    right: 10rem;
    top: 0.8rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    background-color: #005734;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .refresh-container:hover {
    background-color: #005734;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 84, 50, 1);
    transition: 0.2s ease;
  }

  .refresh-btn {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .refresh-btn svg {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    color: #fff;
    right: 7rem;
  }

  .refresh-btn p {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
}