.container{
            width: 70%;
            margin: auto;
            flex-flow: wrap;
            display: flex;
            gap:20px ; 
            .first-button{
                        width: 45%;
                        height: 200px;
                        border: none;
                        background: linear-gradient(to right, 60% white, 40% green);


            }
}
.board {
	font-family: "Dosis";
	font-size: 2.2rem; 
	letter-spacing: .15em;
	text-transform: uppercase;
	line-height: 1.5;
	text-shadow: 1px 1px #666, 3px 3px #000;
	
	width: 250px;
	height: 350px;
	padding: 20px;
	overflow: hidden;
	color: #fff;
	border: 10px solid #eee;
	
	background: linear-gradient( #0e0e0e 65%, #030303 66%) top .03em center / 100% .30em repeat-y;
	box-shadow: 
0px -1px 0px 2px #aaa, 
0 -7px 5px -5px #000, 
0 -15px 30px -15px #000, 
0 3px 4px -2px #000, 
-60px 30px 70px -70px #000, 
70px 30px 70px -70px #000, 
0px 200px 20px rgba(#fff, .05),
inset 0 0 25px #000, 
inset 0 0 5px #000;
	
	&:focus {
		outline: none;
	}
	
	&:after {
		content: '';
		position: absolute;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: calc(50% + 100px);
		z-index: -1;
		box-shadow:  0 -2px 3px rgba(#000, .1), inset 0 2px 2px rgba(#000, .15), inset 0 10px 300px rgba(#000, .5);
	
	&:before {
		content: '';
		position: absolute;
		width: 250px;
		height: 300px;
		left: calc(50% - 370px);
		top: calc(50vh - 30px);
		filter: drop-shadow(20px 10px 20px rgba(0,0,0,.3));
	}
	
	.u {
		color: #fd0;
		text-underline-position: under;
	}
}

.flexions {
	background: #666;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
}}