.switch__Views__Modal {
    --white-color: #fff;
    --green-color: #005734;
}

.switch__Views__Modal {
    position: fixed;
    border-radius: 10px;
    box-shadow: 0px 1.85594px 12.373px rgba(0, 0, 0, 0.3);
    left: 5rem;
    width: 13rem;
    z-index: 99;
    background-color: var(--white-color);
    bottom: 12%;
    color: black;
}

.switch__Views__Modal.new__Side {
    position: relative;
    left: 0;
    width: 90%;
    margin-left: auto;
    bottom: unset;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    font-size: 0.8rem;
    top: -1rem;
    z-index: 0;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.switch__Views__Modal ul {
    list-style: none;
    padding: 6%;
}

.switch__Views__Modal.new__Side ul {
    padding-top: 0;
}

.switch__Views__Modal ul li {
    width: 100%;
    padding: 4%;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.switch__Views__Modal.new__Side ul li {
    margin-bottom: 0.4rem;
}

.switch__Views__Modal ul li:last-child {
    margin-bottom: 0;
}

.switch__Views__Modal ul li:hover {
    background-color: var(--green-color);
    color: var(--white-color);
}

.switch__Views__Modal .switch__View__Close__Icon {
    width: max-content;
    margin: 3% 3% 0 auto;
    cursor: pointer;
    font-size: 1.1rem;
}

.switch__Views__Modal::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.switch__Views__Modal::-webkit-scrollbar-track {
    background: #efefef;
}

.switch__Views__Modal::-webkit-scrollbar-thumb {
    background: #b8b8b8;
}

.switch__Views__Modal::-webkit-scrollbar-thumb:hover {
    background: #005734;
}

@media screen and (max-width: 991.98px) {
    .switch__Views__Modal.new__Side,
    .switch__Views__Modal {
        position: fixed;
        border-radius: 10px;
        box-shadow: 0px 1.85594px 12.373px rgba(0, 0, 0, 0.3);
        right: 1rem;
        width: 13rem;
        z-index: 99;
        background-color: var(--white-color);
        top: 38%;
        color: black;
        height: max-content;
        max-height: 50%;
    }
    
    .switch__Views__Modal.new__Side ul {
        padding-top: 6%;
    }

    .switch__Views__Modal.new__Side ul li {
        margin-bottom: 0.875rem;
    }
}