.redirect__overlay {
  --background-blur: rgba(0, 0, 0, 0.12);
  --white: #fff;
  --green-color: #005734;
  --yellow-color: #c09f2c;
}

.redirect__overlay {
  background: var(--background-blur);
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 0.2s ease-in-out;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redirect__page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.redirect__page .socialmediaimg{
    width: 30%;
    object-fit: cover;
    z-index: -1;
}

.redirect {
    position: relative;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    width: 32%;
    margin: 0 auto;
}

.redirect::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border-left: 2px solid #000;
    animation: typing 3s steps(10) forwards;
}

@keyframes typing{
    100%{
        left: 90%;
        margin: 0 -35px 0 35px;
    }
}

.redirect {
    animation-delay: 0.5s;
}

.handle__redirect{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
    