.question__background {
  width: 98%;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 6%;
  padding-bottom: 6%;
  border-radius: 1rem;
  background-color: #f3f8f4;
}
.question__background .question__description {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  border-radius: 1rem;
}

.question__description .question__top__background {
  background-color: #005734;
  height: 1.3rem;
  border-radius: 1rem 1rem 0 0;
}

.question__body {
  padding: 2rem 4rem;
}

.question__body .head {
  margin-bottom: 1.5rem;
}

.head .question__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.question__body .question__link {
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}

.question__body .bottom {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.bottom .send__btn {
  background-color: var(--green-color);
  padding: 5% 10%;
  min-width: 6rem;
  height: 2.8rem;
  width: max-content;
  padding: 0 2%;
  white-space: nowrap;
}

.bottom .send__btn {
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 9px;
  font-family: "Inter", sans-serif;
  max-width: 100%;
}

.send__btn:hover {
  background-color: #005734;
  box-shadow: 0 0.4rem 1.3rem rgba(0, 87, 52, 1);
  transition: 0.2s ease;
}

.send__btn[disabled] {
  background-color: var(--tertiary-color);
  box-shadow: none;
  cursor: not-allowed;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .question__background {
    width: 98%;
  }
}

@media screen and (min-width: 992px) {
  .question__background {
    width: 100%;
  }
}
