.question__background {
  --primary-color: #005734;
  --secondary-color: #1f1f1f;
  --tertiary-color: #7e7e7e;
  width: 98%;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 6%;
  padding-bottom: 6%;
  border-radius: 1rem;
  background-color: #f3f8f4;
}

.content__container {
  position: relative;
}

.content__container .question__action__btn {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.9rem;
  right: -4.5rem;
  gap: 2rem;
}

.question__background .question__description {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  border-radius: 1rem;
}

.question__description .question__top__background {
  background-color: #005734;
  height: 1.3rem;
  border-radius: 1rem 1rem 0 0;
}

.question__body {
  padding: 2rem 4rem;
}

.question__body .head {
  margin-bottom: 1.5rem;
}

.head .question__title {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.01em;
}

.question__selection {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
}

.question__selection .questions svg {
  margin-left: 1.5rem;
  cursor: pointer;
}

.questions {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  height: 2.4rem;
  color: #7e7e7e;
}

.question__body .question__link {
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  width: 60%;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f3f8f4;
  letter-spacing: 0.01em;
  font-family: inherit;
  height: 85%;
}

.question__body .bottom {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.bottom .send__btn {
  background-color: var(--green-color); 
  padding: 5% 10%;
  min-width: 6rem;
  height: 2.4rem;
  width: max-content;
  padding: 0 1%;
  white-space: nowrap;
}

.bottom .send__btn {
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 9px;
  font-family: "Inter", sans-serif;
  max-width: 100%;
}

.send__btn {
  padding: 0.5rem 3rem 0.5rem 3rem;
  border-radius: 0.7rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  margin: 0.8rem 0 0.8rem 0;
  cursor: pointer;
}

.send__btn:hover {
  background-color: #005734;
  box-shadow: 0 0.2rem 1rem rgba(0, 87, 52, 1);
  transition: 0.2s ease;
}

.send__btn[disabled] {
  background-color: var(--tertiary-color);
  box-shadow: none;
  cursor: not-allowed;
}

.save {
  font-size: 1.2rem;
  font-weight: 300;
  gap: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .question__background {
    width: 98%;
  }
}

@media screen and (min-width: 992px) {
  .question__background {
    width: 100%;
  }
}
