.dropdown-btn {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 16.94px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    color: #000;
    border-radius: 5px;
    padding: 1% 2%;
    margin-left: 5%;
    cursor: pointer;
    position: relative;
}

.dropdown-btn.abs__Pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5%;
    background: #EFEFEF;
}

.dropdown-btn.abs__Pos.green__Color span{
    color: #53CA5F;
}

.dropdown-btn.abs__Pos.orange__Color span{
    color: #FF843F;
}

.dropdown-btn span{
    margin: 0;
}



.dropdown-selections{
    position: absolute;
    top: 93%;
    background: #fff;
    padding: 3% 5%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    min-width: max-content;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    /* border-radius: 2px; */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: none;
    z-index: 1000;
    font-size: 0.8rem;
    cursor: pointer;
}

.dropdown-selections .search__Selections__Wrap {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.6rem 0;
}

.dropdown-selections .search__Selections__Wrap svg {
    width: 10%;
}

.dropdown-selections .search__Selections__Wrap input {
    width: 90%;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
}


.dropdown-selections.active_{
    display: block;
    max-height: 30rem;
    overflow-y: auto;
    scrollbar-width: thin;
}

.dropdown-selections.active_::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.dropdown-selections.active_::-webkit-scrollbar-track {
    background: #efefef;
}

.dropdown-selections.active_::-webkit-scrollbar-thumb {
    background: #b8b8b8;
}

.dropdown-selections.active_::-webkit-scrollbar-thumb:hover {
    background: #005734;
}

.dropdown-selections .dropdown-selection-item{
    margin: 10% auto;
    white-space: nowrap;
    cursor: pointer;
    color: #808080;
}

.dropdown-selections .dropdown-selection-item.active-item_{
    color: #005734 !important;
}

.dropdown-selections .dropdown-selection-item:hover {
    color: #005734 !important;
}

.dropdown-selections .dropdown-selection-item:hover, .dropdown-selections .dropdown-selection-item:focus{
    filter: brightness(0.5);
    cursor: pointer;
}

.dropdown-btn.disabled {
    filter: opacity(0.5) !important;
    pointer-events: none !important;
}


@media (min-width: 1200px){
    .dropdown-btn{
        padding: 1% 2%;
    }
}