.candidate__After__Selection__Screen .candidate-task-screen-container .project-details-container {
    margin-top: 2rem;
}

.new__task__container {
    width: 80%;
    margin: auto;
}

.Create_Task {
    width: 19rem;
    min-height: 19rem;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.candidate__Back__Btnnn__Wrapp {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}


@media screen and (max-width:990px) {
    .add__New__Task__Container h1.title__Item {
        margin-bottom: 0;
    }

    .add__New__Task__Container .add__Task__Btn {
        padding: 2%;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:769px) {

    .new__task__container h1 {
        width: 90%;
        margin: auto;
    }

    .child-task-create {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 200px;
        width: 90%;
        margin: auto;
    }

    .add__New__Task__Container {
        width: 95%;
        padding: 4% 5%;
    }

    .add__New__Task__Container .addTaskDropDown {
        padding: 3%;
    }

    .add__New__Task__Container .selectProject {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .add__New__Task__Container h1.title__Item {
        margin-bottom: 1rem;
    }

    .add__New__Task__Container .add__Task__Btn {
        padding: 5%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .add__New__Task__Container .task__Timing__Wrapper {
        display: flex;
        align-items: normal;
        /* gap: 1rem; */
        justify-content: space-between;
        min-height: 2rem;
        width: 100%;
        margin: 0.8rem 0;
        flex-direction: column;
    }

    .add__New__Task__Container .task__Timing__Wrapper .task__Item {
        margin: 0.3rem 0;
    }

    .add__New__Task__Container .task__Timing__Wrapper .task__Item.full__Widthh {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    /* .add__New__Task__Container {
        width: 85%;
        padding: 4% 5%;
    }

    .add__New__Task__Container .addTaskDropDown {
        padding: 4%;
    }

    .add__New__Task__Container .selectProject {
        font-size: 0.8rem;
        font-weight: 500;
    } */
    .candidate-task-screen-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .candidate__After__Selection__Screen .candidate-task-screen-container .project-details-container {
        margin-top: 12%;
    }
}

@media screen and (min-width: 992px) {
    .candidate__After__Selection__Screen .candidate-task-screen-container .project-details-container {
        margin-top: 0;
    }

    .candidate__After__Selection__Screen .candidate-task-screen-container .all__Tasks__Container {
        padding-bottom: 3%;
    }

    .candidate__After__Selection__Screen {
        width: 80%;
        margin: 1.8rem auto;
    }

    .candidate__Back__Btnnn__Wrapp {
        width: 100%;
    }

    .candidate__Back__Btnnn {
        width: 3.5rem !important;
        height: 3rem !important;
    }
}