// colors 
$main__green : #005734 ; 
$background__gray: #F5F5F5 ; 
$placeholder__gray:#A3A1A1 ; 
$text__gray:#B8B8B8 ; 
$span__gray:#B8B8B8 ; 
$slider__gray:#D9D9D9 ; 




.table_team_roles{
  width: 50%;
  margin: auto;
  margin-top:40px;
  transform: translateX(-70px);
  table{
    text-align: left;
    width: 100%;
    background-color: #005734;
    max-height: 100px;
    overflow: auto;
    th , td {
      background-color: white;
      padding:10px
    }
  }

  .role__Filter__Wrapper {
    width: max-content;
    margin: 1rem 0 1rem auto;
    background-color: white;
    border: 1px solid #005734;
    border-radius: 8px;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;

    .role__Filter {
      background: none;
      outline: none;  
      border: none;
      width: 100%;
    }
  }
  

  .team__Settings__Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .team__Settings__NAv {
      display: flex;
      align-items: center;
      gap: 1rem;

      span {
        white-space: nowrap;
        font-size: 0.8rem;
      }

      .team__Nav__Btns__Wrapper {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        button {
          border: 1px solid #2ec946;
          background: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 0.7rem;
          width: 1.2rem;
          height: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}


.Slections{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            flex-direction: column;
            margin-top:40px;
            transform: translateX(-18px);
            h2{
              text-align: left;
              width: 60%;
            }
            >div{
            margin-top: 20px;
            width: 60%;
            p{
            color: #005734;
            font-weight: 500;
            margin-bottom: 7px;
            span{
            color:red ;
            }
            }
            select {
                        padding: 10px;
                        font-size: 16px;
                        border-radius: 4px;
                        border: 2px solid $main__green;
                        background-color: #fff;
                        color: #333;
                        width:60%;
                      }
                      
                      option {
                        font-size: 16px;
                        background-color: #fff;
                        color: #333;
                      }
            }
            button{
                        background-color: #005734;
                        border: none;
                        outline: transparent;
                        padding:7px 10px; 
                        font-weight:400;
                        border-radius: 5px;
                        color: white;
                        cursor: pointer;
                        transform: translate(30px,20px);
                        &:hover {
                        background-color: #005734;

                        }
            }
}


$success-color: #2ec946;

main {
  padding: 0 40px;
}

@media only screen and (max-width: 900px){
  main {
    padding: 0 0px;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  width: 512px;
  padding: 16px;
  margin: 8px;
  max-width: 90%;
}

@mixin alert-1($color) {
  background-color: rgba($color, 0.05);
  
  .alert-title {
    color: $color;
  }
}

@mixin alert-2($color) {
  border-left: 4px solid $color;
  background-color: rgba($color, 0.05);
  
  .alert-title {
    color: $color;
  }
}

@mixin alert-3($color) {
  border: 1px solid lighten($color, 25%);
  border-radius: 8px;
  background-color: rgba($color, 0.05);
  
  .alert-title {
    color: $color;
  }
}



.alert-2-success {
  @include alert-2($success-color);
}






.alert-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.alert-content {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
}