<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    <title>Interview Invitation</title>
</head>
<body style="font-family: poppins; background-color: #f5f5f5; margin: 0; padding: 0; text-align: center;">
    <div style="max-width: 600px; margin: 10px auto; background-color: #fff; padding:10px 20px; border-radius: 4px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <div style="text-align: center; margin-bottom: 0px;">
            <img src="http://67.217.61.253/hr/logo-2-min-min.png" alt="Company Logo" style="width: 100px; height: 100px;">
        </div>
        <div style="text-align: center;">
            <h3 style="font-size: 24px; margin: 0; margin-bottom: 5px;">Hello Sagar,</h3>
            <img src="https://img.freepik.com/free-vector/people-talking-via-electronic-mail_52683-38063.jpg?size=626&ext=jpg&ga=GA1.1.225976907.1673277028&semt=ais" alt="Interview Image" style="display: block; margin: 0 auto; width: 400px; max-width: 100%; border-radius: 4px;">
        </div>
        <div style="margin: 0; margin-bottom: 10px; line-height: 1.5;">
            <p>Congratulations! You have been invited to interview for the Frontend Development job.</p>
            <p>Here are the details of the interview:</p>
            <p><b>Venue:</b> Discord</p>
            <p><b>Time:</b> 10th July, 3pm</p>
            <br>
            <p>Kindly click the button below to join the Discord server:</p>
            <a href="https://web.discord.com" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 4px; transition: background-color 0.3s ease; text-align: center;" target="_blank">Join Discord Server</a>
        </div>
    </div>
</body>
</html>

