button.claim__button {
    position: absolute;
    top: 1rem;
    right: 8rem;
    border: none;
    color: white;
    background: #005734;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
}

button.approve__button {
    position: absolute;
    top: 4rem;
    right: 8rem;
    border: none;
    color: white;
    background: #005734;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.form__data .get_vouchar_button {
    width: max-content;
    padding: 0.4rem 0.9rem;
    font-size: 0.8rem;
}

.form__data {
    position: absolute;
    top: 0rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000063;
    z-index: 100;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.form__data form {
    background-color: white;
    width: 500px;
    height: 320px;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    margin-top: 10rem;

}

.form__data label {
    font-size: 0.9rem;
}

.form__data form input {
    padding: 7px;
    font-size: 0.9rem;
    height: 2.5rem;
}

.form__data svg {
    position: absolute;
    right: 18px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.des {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.mail {
    display: flex;
    flex-direction: column;
}

.form__data button {
    border: none;
    outline: none;
    font-size: 1rem;
    width: max-content;
    height: 2.5rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #005734;
    padding: 0.4rem 0.9rem;
    font-size: 0.8rem;
    color: white;
    margin-top: 0.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.form__data button:hover {
    border: 1px solid #005734;
    background-color: white;
    color: #005734;
}

.form__data h2 {
    font-size: 1.5rem;
}

.coupon__data {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.coupon__data p {
    font-size: 0.8rem;
}

.coupon__data p span {
    font-size: 0.9rem;
    background-color: gray;
    padding: 6px;
    color: white;
    border-radius: 5px;
}

#vouchar form {
    height: max-content;
}