.task__Indicator{
            background-color: limegreen;
            color: white;
          }

          @media (width >= 1200px){
            .project-details-container{
              margin-top: 0%;
            }
          }