.candidate-task-screen-container {
    --grey-color: #838383;
    --light-grey-color: #E0E0E0;
    --black: #000;
    --green-color: #005734;
    --red-color: #FC3939;
    --yellow-color: #C09F2C;
    --green-color-2: #005734;
    font-family: 'Inter', sans-serif;
}

.candidate-task-screen-container {
    padding: 3% 7%;
}

.candidate-task-screen-container>* {
    color: var(--grey-color);
}

.candidate-task-screen-container .selected-applicant-intro {
    justify-content: flex-start;
}

.candidate-task-screen-container .selected-applicant-intro span {
    margin: 0;
}

.candidate-task-screen-container .add-task-btn {
    margin: 10% auto 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    color: var(--yellow-color);
}

.candidate-task-screen-container .add-task-btn span {
    margin-right: 1%;
}

.candidate-task-screen-container .all__Tasks__Container {
    display: flex;
    flex-direction: column;
}

.candidate-task-screen-container .all__Tasks__Container .tasks__Wrapper {
    margin-left: 5rem;
}

.candidate-task-screen-container .all__Tasks__Container .task__Details__Item .month__Title {
    margin-top: 8%;
}

.candidate-task-screen-container .task__Indicator {
    background-color: var(--green-color-2);
}

.candidate-task-screen-container .empty__Task__Content {
    font-size: 0.875rem;
}

.candidate-task-screen-container .all__Tasks__Container .react-calendar {
    height: max-content;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border: none;
    max-width: 18.8rem;
}

.candidate-task-screen-container .all__Tasks__Container .task__Title {
    color: var(--green-color-2);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
    margin-bottom: 10%;
    color: var(--grey-color);
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .candidate-task-screen-container .applicant-title-text {
        margin-bottom: 2%;
    }

    .candidate-task-screen-container .selected-applicant-intro {
        margin-top: 2%;
    }

    .candidate-task-screen-container .all__Tasks__Container {
        flex-direction: row;
    }

    .candidate-task-screen-container .all__Tasks__Container .task__Details__Item {
        margin-left: 4%;
        width: 60%;
    }

    .candidate-task-screen-container .all__Tasks__Container .task__Details__Item .month__Title {
        margin: 0 0 2.5%;
    }
}

@media (min-width: 992px) {

    .candidate-task-screen-container .add-task-btn,
    .candidate-task-screen-container .all__Tasks__Container {
        width: 82%;
        margin: 3% auto;
    }

    .candidate-task-screen-container .add-task-btn {
        margin-bottom: 11%;
    }

    .candidate-task-screen-container .all__Tasks__Container {
        margin-top: 0;
        flex-direction: row;
        padding-bottom: 10%;
    }

    .candidate-task-screen-container .all__Tasks__Container .task__Details__Item {
        margin-left: 2%;
        width: 80%;
    }

    .candidate-task-screen-container .all__Tasks__Container .task__Details__Item .month__Title {
        margin: 0 0 2%;
    }

    .candidate-task-screen-container  {
        padding-bottom: 250px;
    }
}


@media screen and (max-width:768px) {
    .candidate-task-screen-container {
        padding-bottom: 15rem !important;
    }

    .candidate-task-screen-container .project-details-container {
        margin-top: 3%;
        width: 90%;
        margin: auto;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .all__Tasks__Container .task__Title {
        margin-bottom: 0;
    }

    .candidate-task-screen-container .all__Tasks__Container .react-calendar {
        margin: auto;
    }

    .candidate-task-screen-container .all__Tasks__Container .tasks__Wrapper {
        width: 90%;
        margin: 2rem auto;
    }

    .candidate-task-screen-container .all__Tasks__Container .tasks__Wrapper p {
        margin-bottom: 0;
    }
}