// colors 
$main__green :  #005734;
$light__green: #F3F8F4; 
$main__black: #1F1F1F;
$main__gray : #7C7C7C ; 

  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;600;800&family=Roboto+Condensed:ital,wght@0,700;1,400;1,700&family=Roboto:ital,wght@1,700;1,900&display=swap');
.container{
            font-family: 'Inter', sans-serif;
            width: 80%;
            margin: auto;
            padding-top: 30px;
            
            button{
            cursor: pointer;
            }
            .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            >div{
            display: flex;
            button{
            width: 2.83rem;
            height: 2.41rem;
            border-radius: 10px;
            outline: transparent;
            border: #D5ECD699 1px solid;
            position: relative;
            background-color: white;
            cursor: pointer;
            
            &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color:  #D5ECD699;
            z-index:-99 ; 
            top:20% ;
            left:20% ; 
            border-radius: 10px;
            }
            }
            p{
              font-size: 2.1rem;
              margin-left: 20px;
              color: #005734;
              text-transform: capitalize;
              font-weight: 700;
              letter-spacing: 0.80px;
            }
            }
            >button{
            width: 9.29rem;
            height: 3.45rem;
            outline: transparent;
            border: none;
            border-radius: 0.83rem;
            font-weight: bold;
            color: $main__gray;
            font-weight: 500;
            font-weight: bold;
            font-size: 1.41rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 6px;
            text-transform: capitalize;
            }
            }
            .job-discription{
            margin-top:50px ; 
            padding:2.20rem 4.45rem ; 
            padding-bottom: 100px;
            background-color: $light__green;
            border-radius: 15px;
            position: relative;
            >div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            width: 60%;
            margin-top: 20px;
            h5{
            font-weight: 600;
            font-size: 16px;
            }
            span{
              font-size: 15px;

            }
            }
            h4{
            margin-top: 30px;
            padding-bottom: 11px;
            font-size: 20px;
            }
            ol{
            margin-top: 10px ; 
            margin-left: 19px;
            li{
              font-size: 17px;
            margin-bottom: 10px;
            }
            }
            .others{
            margin-top: 50px;
            }
            >button{
            position: absolute;
            bottom:50px ; 
            right:50px ;
            width: 9.75rem ;
            height: 3.16rem;
            border-radius: 15px;
            color: white;
            background-color: #005734;
            border: none; 
            outline: transparent;
            font-weight: 500;
            font-size: 1.41rem;
            text-transform: capitalize;
            }
            }
}

