.wrapper_invoice {
  width: 87%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  padding: 1.4rem 2rem 14rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

.nav_content h2 {
  color: #005734;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.7rem;
  letter-spacing: 0.04em;
  margin-left: 1.2rem;
}

.nav_content button {
  background-color: #005734;
  color: #fff;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.nav_content button:hover {
  filter: brightness(0.85);
}

.get_invoice_section {
  align-items: flex-start;
  margin-left: 1.2rem;
}

.get_invoice_section.accounts {
  flex-direction: row;
  gap: 3.5rem;
}

.invoice_details_select {
  display: flex;
  gap: 1.3rem;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.8rem;
}

.invoice_details_select .invoice_details {
  display: flex;
  gap: 1.3rem;
}

.invoice_popup_details {
  width: 100%;
}

.generate_invoice {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #005734;
  color: #fff;
  padding: 0.6rem 1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.generate_invoice:not(.disabled):hover,
.generate_invoice:not([disabled]):hover {
  filter: brightness(0.8);
}

.progress_main_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 30px;
}

.agenda_report_wrap {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.report_agenda {
  background-color: #ffdd6a;
  margin: 2px 2px 0.875rem;
  border-radius: 20px;
  padding: 2%;
  height: 130px;
  overflow: auto;
}

.report_agenda h2 {
  color: #3e3e3e;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.report_agenda p {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  white-space: pre-line;
  margin-top: 0.7rem;
}

.report_agenda_list {
  background-color: white;
  border-radius: 20px;
  padding: 1.3%;
  margin: 1rem;
}

.report_agenda_list h3 {
  margin-top: 2%;
  margin-left: 1%;
  color: #3e3e3e;
  font-size: large;
}

.weekly_agenda_list_table_div {
  max-height: 420px;
  overflow: auto;
  scrollbar-width: thin;
}

.weekly_agenda_list_table {
  border-collapse: collapse;
  width: 100%;
  padding-right: 20px;
}

.weekly_agenda_list_table th {
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #ddd;
  color: #000;
  min-width: 10rem;
  /* padding: 2%; */
}

.weekly_agenda_list_table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding: 1.5%;
  width: 0%;
  font-size: 0.8rem;
}

.weekly_agenda_list_table tr {
  padding: 5px;
}

.weekly_agenda_list_table_div::-webkit-scrollbar {
  width: 8px;
}

.weekly_agenda_list_table_div::-webkit-scrollbar-thumb {
  background-color: #ffdd6a;
  border-radius: 13px;
}

.weekly_agenda_list_table_div::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.swipe_text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000;
  display: flex;
  margin-left: 1.2rem;
}

.invoice__select__date,
.invoice__select__year {
  min-width: 10rem;
  max-width: 14rem;
}

.title__Wrap__H {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.approve__Btn {
  border: 1px solid #005734;
  background: none;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  font-size: 0.8rem;
  transition: 0.3s ease-in-out;
}

.approve__Btn:not(:disabled):hover {
  background-color: #005734;
  color: #fff;
}

@media screen and (max-width: 920px) {
  .wrapper_invoice {
    padding: 1.4rem 0rem 14rem;
  }

  .swipe_text {
    margin-left: 0;
  }

  .report_agenda_list {
    margin: 0rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 3%;
  }

  .nav_content h2,
  .get_invoice_section {
    margin-left: 0rem;
  }

  .invoice_details_select {
    width: 100%;
    flex-direction: column;
  }

  .invoice_details_select .invoice_details {
    gap: 0.8rem;
  }

  .weekly_agenda_list_table_div {
    max-height: 520px;
  }
}

@media screen and (max-width: 991px) {
  .nav_content {
    width: 100%;
  }
}
