.new__Side__Navigation__Bar {
    --green-color: #005734;
    --white-color: #fff;
    --gray-color: #808080;
}

.new__Side__Navigation__Bar {
    background-color: var(--green-color);
    height: 100%;
    position: fixed;
    left: 0;
    width: 4.6rem;
    padding: 3% 0.8%;
    z-index: 99;
}

.new__Side__Navigation__Bar .new__Side__Navigation__Links,
.new__Side__Navigation__Bar .new__Side__Navigation__Links a,
.new__Side__Navigation__Bar .new__Side__Navigation__Links p {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
}

/* .new__Side__Navigation__Bar .new__Side__Navigation__Links a.active {
    color: var(--white-color);
} */

.new__Side__Navigation__Bar .new__Side__Navigation__Links {
    list-style: none;
    height: 90%;
    justify-content: space-between;
    gap: 1.9rem;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links {
    justify-content: unset;
}

.new__Side__Navigation__Bar .new__Side__Navigation__Links a {
    align-items: center;
    justify-content: center;
}

.new__Side__Navigation__Bar .new__Side__Navigation__Links a svg {
    font-size: 1.6rem;
}

.new__Side__Navigation__Bar .new__Side__Navigation__Links a span {
    word-wrap: break-word;
    width: 100%;
    font-size: 0.8rem;
}


.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links a {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.7rem;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links a svg,
.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links p svg {
    font-size: 1.6rem;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links a span {
    width: max-content;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.new__Side__Navigation__Bar .new__Side__Navigation__Links p span {
    font-size: 0.8rem;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links .dropdown__ICon {
    font-size: 0.8rem;
    margin-left: auto;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links .child__Nav__Links {
    width: 90%;
    margin-left: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    max-height: 7rem;
    overflow-y: auto;
    scrollbar-width: thin;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links .child__Nav__Links::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links .child__Nav__Links::-webkit-scrollbar-track {
    background: #efefef;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links .child__Nav__Links::-webkit-scrollbar-thumb {
    background: #b8b8b8;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links .child__Nav__Links::-webkit-scrollbar-thumb:hover {
    background: #005734;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links .child__Nav__Links span {
    font-size: 0.75rem;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links .child__Nav__Links svg {
    font-size: 1rem;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Nav__user__Wrap {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1rem);
    padding: 1rem 0 1.2rem;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Nav__user__Wrap a {
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.new__Side__Navigation__Bar.new__Side__Design .new__Side__Nav__user__Wrap a svg {
    font-size: 30px;
}

.child_nav_link_largeScreen {
    color: black;
    width: 200px;
    /* background-color: white; */
    position: fixed;
    right: 1rem;
    bottom: 16%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    list-style: none;
}

.child_nav_link_largeScreen li {
    color: black;
    font-size: 20px;
    /* border-bottom: 0.1px solid black; */
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: left;
    width: 100%;
    padding: 0.5rem;
    /* transition: color 0.5s ease; */
    border-radius: 15px;
}

.child_nav_link_largeScreen li:hover {
    background-color: #005734;
    color: #fff;
    text-align: center;
}

.close_modal {
    position: relative;
    left: 90%;
}


@media screen and (max-width: 767px) {
    .new__Side__Navigation__Bar .new__Side__Navigation__Links {
        justify-content: space-around;
        gap: 1.6rem;
    }

    .new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links a,
    .new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links p {
        flex-direction: column;
    }

    .new__Side__Navigation__Bar.new__Side__Design .new__Side__Navigation__Links p {
        gap: 0.7rem;
    }
}

@media screen and (max-width: 500px) {
    .child_nav_link_largeScreen {
        width: 55%;
        right: 1rem;
        bottom: 16%;
    }

    .child_nav_link_largeScreen li {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .new__Side__Navigation__Bar {
        height: 4.6rem;
        width: 100%;
        bottom: 0;
        padding: 3% 5%;
    }

    .new__Side__Navigation__Bar .new__Side__Navigation__Links {
        flex-direction: row;
    }
}