.user__log__Wrap {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 120px;
}

.active__Task__Tile {
    background-color:  	#90EE90;
    color: #fff;
}

.user__Filter_Wrap {
    width: max-content;
    position: relative;
}

.divider {
    background-color: #e8e8e8;
    height: 150%;
    width: 1px;
    position: absolute;
    top: 0;
    right: -7.5%;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.loading__Date__Text {
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
}

.user__log__Details,
.filters__Wrap,
.filter__items,
.log__Detail__Wrap {
    display: flex;
    flex-direction: column;
}

.user__log__Details {
    /* width: 70%; */
    flex-grow: 1;
    gap: 4.5rem;
}

.filters__Wrap,
.filter__items {
    gap: 0.4rem;
}

.filters__Wrap {
    margin: 1.8rem 0;
}

.filters__Wrap h3 {
    font-weight: 500;
}

.user__log__Details h2 {
    font-weight: 500;
    color: #005734;
    font-size: 1.3rem;
}

.log__Load__Wrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin: 1.5rem auto;
    width: 100%;
}

.log__Load__Wrap p {
    font-size: 0.875rem;
}

.loader {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.log__Detail__Wrap {
    gap: 1.8rem;
}

.select__Project {
    width: max-content;
}

.project__Listing {
    max-height: 20rem !important;
    font-size: 0.875rem;
}

.pro__Select__Wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
}

.pro__Select__Wrap p {
    font-size: 0.875rem;
}

.selected__Subproject__item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 0.5rem 0.9rem;
}

.log__Heading {
    font-size: 0.875rem;
    color: #838383;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single__Approve__Btn,
.batch__Approve__Btn {
    position: relative;
    color: #005734;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    right: unset;
    bottom: unset;
    white-space: nowrap;
    border-radius: 5px;
    background-color: #fff;
    padding: 0.5rem 1rem;
}

.batch__Approve__Btn {
    font-size: 0.75rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    min-width: 9.5rem;
    max-width: 10.5rem;
}

.single__Approve__Btn {
    font-size: 0.65rem;
}

.request__Log__Btn {
    white-space: nowrap;
    width: max-content;
}

.logs__Wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.single__log__Detail__Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.single__log__Detail {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.single__log__Detail.approved__log ._log {
    color: #005734;
}

.date__log {
    font-weight: 500;
    white-space: nowrap;
}

._log,
.log__Timing,
.date__log {
    font-size: 0.875rem;
}

._log {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.log__Timing {
    color: rgb(184, 184, 184);
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .user__log__Wrap {
        flex-direction: column;
    }

    .divider {
        display: none;
    }
}