.create_your_team {
    h2 {
      margin-bottom: 10px;
    }
    .buttons{
      display: flex;
      gap:20px ; 
      align-items: center;
      margin-left: auto;
      flex-direction: row-reverse;
      button{
        width: 150px;
        height: 45px;
        border-radius: 10px;
        color: white;
        border: none;
        &:first-child{
          background-color: darkgreen;
        }
        &:last-child{
          background-color:rgba(154, 154, 154, 1) ;
  
        }
      }
    }
    > input {
      width: 450px;
      padding: 8px 10px;
      margin-top: 5px;
      border: 1px solid gainsboro;
      border-radius: 7px;
      display: block;
    }
  
    > label {
      font-weight: 600;
      font-size: large;
    }
  
    #team_description {
      width: 450px;
      padding: 8px 10px;
      margin-top: 5px;
      border: 1px solid gainsboro;
      border-radius: 7px;
      display: block;
    }
  
    .add_member_input {
      width: 450px;
      padding: 8px 10px;
      margin-top: 5px;
      border: 1px solid gainsboro;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
  
    .add_member_input p {
      color: gray;
      font-size: 13px;
    }
  
    .add_member_input > .icon {
      color: rgb(0, 64, 0);
      font-size: 18px;
      font-weight: 900;
    }
  
    .checkboxes {
      background-color: #f5f5f5;
      padding: 15px;
      border-radius: 10px;
    }
  }