.jobs-container,
.tasks-container {
  padding: 0 7% 24%;
  background: transparent;
}

.tasks-container .add__Btn {
  display: flex;
  align-items: center;
  width: max-content;
  bottom: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.project__Select__Wrapper {
  width: 76%;
  margin: 0 auto 1rem;
}

.project__Select__Wrapper select {
  margin-left: auto;
  padding: 0.3rem 0.5rem;
  display: block;
  border: none;
  background-color: #fff;
  border: 1px solid #005734;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .tasks-container .add__Btn {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .jobs-container,
  .tasks-container {
    padding-bottom: 12%;
  }

  .jobs-container > *,
  .tasks-container > * {
    width: calc(96% / 2);
    display: inline-block;
    margin-right: 2%;
  }

  .jobs-container > *:nth-child(2n + 2),
  .tasks-container > *:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .jobs-container,
  .tasks-container {
    width: 91%;
    margin: 0 auto;
    padding-bottom: 8%;
  }

  .jobs-container > *,
  .tasks-container > .job__Card__Container {
    width: calc(94% / 2);
    display: inline-block;
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .jobs-container > *:nth-child(2n + 2),
  .tasks-container > .job__Card__Container.remove__mar {
    margin-right: 0;
  }

  .jobs-container > *:last-child,
  .tasks-container > .job__Card__Container:last-child {
    margin-bottom: 15%;
    /* background-color: rebeccapurple; */
  }

  .tasks-container .add__Btn {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .teamlead__Selected__Wrapper .selected-candidate-screen-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
  }

  .teamlead__Selected__Wrapper
    .selected-candidate-screen-container
    .project-details-container {
    margin-top: 0;
  }

  .teamlead__Selected__Wrapper
    .selected-candidate-screen-container
    .comments-container {
    margin-top: 4%;
  }

  .teamlead__Selected__Wrapper .selected-candidate-screen-container > * {
    width: 90%;
  }

  .project__Select__Wrapper {
    width: 76%;
    margin: 0 auto 1rem;
  }

  .project__Select__Wrapper select {
    margin-left: auto;
    padding: 0.3rem 0.5rem;
    display: block;
    border: none;
    background-color: #fff;
    border: 1px solid #005734;
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 786px) {
  .staff__Jobs__Layout__Content__Container .jobs__Layout__Content {
    width: 100%;
    margin: auto;
  }

  /* .title__Navigation__Bar__Container {
    width: 100%;
  } */

  .staff__Jobs__Layout__Content__Container .toggler_Nav_Container.teamlead {
    margin: auto;
    width: 85% !important;
  }

  .staff__Jobs__Layout__Content__Container .toggler_Nav_Container.teamlead {
    margin-left: 0;
    margin-right: 0;
  }

  .title__Navigation__Bar__Container .title__Item h1 {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .staff__Jobs__Layout__Content__Container .toggler_Nav_Container.teamlead {
    margin: auto;
    width: 75% !important;
  }

  .toggler_Nav_Container {
    transform: translateX(0px);
  }

  .refresh-container-teamlead {
    top: 0;
  }

  .toggler_Nav_Container .toggler_Nav_Item {
    width: 4.2rem;
    height: 2.4rem;
    font-size: 0.8rem;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .selected-candidates-count-container h2 {
    font-size: 0.9rem;
  }

  .title__Navigation__Bar__Container {
    margin-left: 0;
  }
}

.JobsChanger_containter {
  z-index: 8888;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.5rem auto 5rem;
  position: relative;
}

.JobsChanger_containter button {
  background-color: #0e0e0e;
  color: white;
  font-family: Poppins;
  border: none;
  outline: transparent;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.JobsChanger_containter button:hover {
  background-color: #005734;
}

.JobsChanger_containter button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.JobsChanger_containter button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.JobsChanger_containter .desactive {
  background-color: #005734;
}

.tasks-container .lead__sort__Title__Item {
  margin-bottom: 2rem;
}