.structure__modal {
  min-width: 40%;
  width: 42%;
  max-width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.close__User__Detail {
  width: max-content;
  margin-left: auto;
  cursor: pointer;
}

.form__Header h2 {
  font-weight: 600;
  color: #005734;
  letter-spacing: 0.03em;
}

.form__Header p {
  font-size: 0.8rem;
}

.structure__Form {
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.structure__Form_2 {
  max-height: unset;
  overflow-y: unset;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project__Lead__Table {
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
}

.structure__Form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  position: relative;
}

.structure__Form label input {
  font-family: "Poppins", sans-serif;
  outline: none;
  border-radius: 6px;
  border: 1px solid #efefef;
  padding: 0.4rem;
  font-size: 0.875rem;
  transition: 0.3s ease-in-out;
}

.loader {
  position: absolute;
  right: 0.8rem;
  bottom: -0.8rem;
}

.loader_text {
  font-size: 0.8rem;
}

.structure__Form label input:focus-within {
  border-color: #005734;
}

.form__Nav__Btns__Wrap {
  width: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form__Nav__Btn {
  background: none;
  outline: none;
  border: 2px solid #005734;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.form__Nav__Btn:not(:disabled):hover {
  background-color: #005734;
  color: #fff;
}

.form__Nav__Btn:disabled:hover {
  cursor: not-allowed;
}

.save__Progress_Container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 16rem;
}

.save__Progress_Container p {
  text-align: center;
  width: 100%;
}

.progress {
  background-color: #005734;
  color: #fff;
  padding: 0.2%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.min__Detail {
  font-size: 0.7rem;
  color: #005734;
}

.select__Item {
  min-width: 18rem;
  margin-top: 0.6rem;
  font-size: 0.9rem;
}

.update__project__Btn {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  background-color: #005734;
  color: #fff;
  outline: none;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: max-content;
  margin: 0 auto 1rem;
}

.update__project__Btn:disabled,
.result__Btn[disabled] {
    cursor: not-allowed;
}


.update__project__Btn:not(:disabled):hover,
.update__project__Btn:not([disabled]):hover {
    filter: brightness(0.8);
}

.structure__Form::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.structure__Form::-webkit-scrollbar-track {
  background: #efefef;
}

.structure__Form::-webkit-scrollbar-thumb {
  background: #b8b8b8;
}

.structure__Form::-webkit-scrollbar-thumb:hover {
  background: #005734;
}

@media screen and (max-width: 991.98px) {
  .structure__modal {
    max-height: 55%;
    overflow-y: auto;
    width: 95%;
    max-width: 96%;
  }
}
