.att_report_main {
    width: 95%;
    background-color: #f5f5f5;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    margin-bottom: 10%;
    /* margin-left: 2%; */
    padding: 2%;
}

.att__Date__Input {
    border: 1px solid lightgray;
    font-size: 14px;
    width: max-content;
    border-radius: 3px;
    color: #807f7f;
    padding: 0.45rem;
    font-family: "Poppins", sans-serif;
}

button.hr__Att__Btn {
    width: max-content;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #005734;
    color: white;
    border: 0px;
    border-radius: 8px;
    /* margin-top: 18px; */
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.item__Filter__Wrap {
    display: flex;
    align-items: flex-start;
    gap: 0.4rem;
    flex-direction: column;
    /* margin-left: 25px; */
}

.item__Filter__Wrap p {
    margin-top: 1%;
    font-size: 0.875rem;
}

.item__Filter {
    width: 15rem;
}

.att_rep {
    width: 100%;
    background-color: white;
    padding: 2%;
    border-radius: 30px;
    margin-bottom: 2%;
}


.att_rep table {
    width: 100%;
    border-collapse: collapse;
}

.att_rep thead {
    background-color: #f2f2f2;
}

.att_rep th {
    text-align: center;
    background-color: white;
    border-bottom: 4px solid #ddd;
    color: #000000;
    padding: 2%;
}

.att_rep td {
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 2%;
}

.att_rep tr {
    padding: 10px;
}

.tbl_rep {
    max-height: 400px;
    overflow: scroll;
    /* padding-right: 10%; */
    /* border-radius: 30px; */
}

.att_report_main h3 {
    padding-top: 1%;
    padding-left: 2%;
    color: #005734;
    font-size: 35px;
    font-weight: 500;
}

.check {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* margin-left: 35px; */
    margin-bottom: 1rem;
    border-radius: 30px;
    padding: 3%;
}

.att_name {
    width: 78%;
    border-radius: 18px;
    border: 1px solid #c8c8c8;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.att_name .profile {
    width: 130px;
    height: 130px;
    border: 1px solid #c8c8c8;
    border-radius: 15px;
}

.att_percentage {
    width: 20%;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.att_percentage b {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}

.att_percentage div {
    margin: 0.3rem;
}

.txt_color {
    color: #000000;
}

.title {
    /* margin: 1rem auto; */
    padding-top: 3%;
}

.present {
    color: #4ecb71;
}

.absent {
    color: #f02a2b;
}

.holiday {
    color: #909090;
}

.table_data {
    margin-right: 4%;
}

.att_select_input{
    border: 1px solid lightgray;
    font-size: 14px;
    width: 15rem;
    border-radius: 3px;
    color: #807f7f;
    padding: 0.45rem;
    font-family: "Poppins", sans-serif;
}
