*{
padding:0 ; 
margin: 0 ; 
box-sizing: border-box;
}
:root{
            --green-color: #005734;
}
.research-jobs > *{
            font-family: 'Inter', sans-serif;
}
header{
background-color: var(--green-color);
padding: 2.125rem;
position: relative;
width: 100%;
height: 5.875rem;
}
header h3{
font-size:48.57px;
font-weight: 800;
text-align: center;
width: fit-content;
margin: auto;
color: white;
letter-spacing: 1px;
word-spacing: 1.8px;
margin-bottom: 20px;
}
@media((min-width:1200px) and (max-width:1399px) ){
            header h3{
            font-size:38.57px;
            
            }
            header div img{
                        width: 75px;
            }
}
@media((min-width:992px ) and (max-width:1199px) ){
            header h3{
            font-size:28.57px;

            }
            header div img{
                        width: 75px;
            }
}

header img{
            position: absolute;
            
}
header .logo {
            width: 70px;
            height: 70px;
            position: absolute;
            top:15px ; 
            left: 40px;
}
nav.research{
    display: none;
width: 4.6rem;
height: calc(100vh - 5.875rem);
background-color: var(--green-color);

position: absolute;
top:5.875rem ; 
left: 0;


}
nav.research ul {
list-style: none;
color: white;
height: 80%;

display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;
}
nav.research ul li{
display: flex;
flex-direction: column;
margin: auto;
}
nav.research ul li span{
            margin-top: 20px;
            font-size: 1.12rem;
            font-weight: 400;
            word-wrap: break-word;
}
nav.research img {
width: 46px;
height: 39px;
margin: auto;           
}

/* selections */
main.research{
            padding: 2.81rem 5.625rem ;
            padding-left: calc(4.6rem + 5.625rem );
            padding-bottom: 0;
            width: 100%;

}
main.research .selections{
            display: flex;
            width: 90%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
}
main.research .selections h6{
font-weight: 600;
font-size: 21.9557px;
line-height: 27px;

color: var(--green-color);
}
main.research .selections .input{
            border-radius: 10px;
            margin-top: 20px;
            width: 30.25rem;
            background-color: #ececec;
            padding:1.04rem  1.42rem; 
            box-sizing: border-box;
            display: flex;
            align-items: center;

            position: relative;
}
@media((min-width:1200px) and (max-width:1399px) ){
            main.research .selections .input{
                        width: 16.25rem;
            }
}
@media((min-width:992px ) and (max-width:1199px) ){
            main.research .selections .input{
                        width: 14.75rem;
            }
}
main.research .selections .input > div{
            display: flex;
            align-items: center;
            width: 100%;
}
main.research .selections .input >div >  select{
            font-family: 'Inter', sans-serif;
            
            width: 10.68rem;
            height: auto;
            background-color: transparent;
            outline: none;
            border: none;
            flex-grow: 1;
}
main.research .selections .input >div >  select::placeholder {
            color: red;
}
main.research .selections .input > img {
            position: absolute;
            top: 50%;
            right: 11px;
            transform: translateY(-10px);
            background-color: #ececec;
            pointer-events: none;
            padding: 7px;
        }
        
        





main.research .map{
            margin: auto;
            margin-top: 3rem;
            background: url('./images/map.png') no-repeat center/cover;
            width: 90%;
            height:630px;
}
@media((min-width:1200px) and (max-width:1399px) ){
            main.research .map{
                        width: 100%;
            }
}
@media((min-width:992px ) and (max-width:1199px) ){
            main.research .map{
                        height: 300px;
            }
}

main.research .map-image{
    margin-top: 1.75rem;
    width: 85%;
    height: 550px;
    margin-left: 68px;
    object-fit: cover;

}

@media((min-width:1200px) and (max-width:1399px) ){
            main.research .map-image{
                        margin-top: 1.75rem;
                        width: 85%;
                        height: 550px;
                        margin-left: 68px;
                        object-fit: cover;

            }
}
@media((min-width:992px ) and (max-width:1199px) ){
            main.research .map-image{
                        margin-top: 3.75rem;
                        width: 100%;
            }
}
/* message Start*/
.message{
            position: fixed;
            bottom:30px ; 
            right: 30px;
            cursor: pointer;
}
.img{
    display: flex;
}

.map__image{
    background-image: url('./images/cities.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
@media (max-width:500px){
    .map__image{
        display: none;
    }
}