.candidate__Jobs__Screen__Container {
  --light-green-color: #bff1c1;
  --dark-green-color: #005734;
  --white-color: #fff;
}

.candidate__Jobs__Screen__Container {
  padding: 1% 3%;
}

.candidate__Jobs__Screen__Container .intro__Container,
.candidate__Jobs__Screen__Container .intro__Container .left__Intro__Content {
  display: flex;
  justify-content: space-between;
}

.candidate__Jobs__Screen__Container
  .intro__Container
  .left__Intro__Content
  .job__Screen__Title {
  width: 55%;
  font-weight: 800;
}

.candidate__Jobs__Screen__Container .intro__Container {
  align-items: flex-start;
  margin-bottom: 4%;
}

.candidate__Jobs__Screen__Container .intro__Container > * {
  width: 50%;
  height: 100%;
}

.candidate__Jobs__Screen__Container .intro__Container .left__Intro__Content {
  flex-direction: column;
}

.candidate__Jobs__Screen__Container .intro__Container .left__Intro__Content {
  /* margin-top: 6%; */
  width: 72%;
}

.candidate__Jobs__Screen__Container .intro__Container {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  height: 60%;
}

.candidate__Jobs__Screen__Container .support__Intro__Container {
  margin-bottom: 15%;
}

.job__Chart__Container {
  width: 100%;
  margin-top: 2rem;
}
.job__Chart {
  width: 100%;
  /* margin: 0 auto; */
}

@media screen and (max-width: 991px) {
  .candidate__Jobs__Screen__Container .intro__Container {
    flex-direction: column-reverse;
  }

  .candidate__Jobs__Screen__Container .intro__Container > *,
  .candidate__Jobs__Screen__Container
    .intro__Container
    .left__Intro__Content
    .job__Screen__Title {
    width: 100%;
  }

  .candidate__Jobs__Screen__Container {
    padding-bottom: 40%;
  }
}
