.team-screen-threads {
  width: 80%;
  margin: auto;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.team-screen-thread-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.team-screen-threads-card {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.thread-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3% 4%;
  gap: 5rem;
}

.comment-action{
  padding: 0.5% 3% 3% 3%;
}

.comment-action .comment-input{
  width: 100%;
}

.comment-action p{
  font-size: 0.8rem;
}

.team-screen-threads-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 2rem;
}

.team-screen-threads-container p {
  font-size: 1rem;
  /* font-weight: 600; */
  color: #000;
}

.team-screen-threads-progress {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.progress {
  width: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}

.progress p {
  font-size: 0.8rem;
  font-weight: 600;
}

/* .threads-progress {
  width: 50%;
  height: 50%;
  background-color: #005734;
  padding: 1.5rem;
  border-radius: 50%;
} */

.comments-section {
  cursor: pointer;
}

.comments {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comments span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #838383;
}

.comments-section svg {
  font-size: 1.8rem;
}


/* <span className="selectProject">Enter Issue Details</span>
<textarea placeholder="Enter Issue" name="description" value="" style={{ margin: 0 }} onChange="" rows={5}></textarea>
<span className="selectProject">Add an Image to help explain your issue better (OPTIONAL)</span>
<input type={"text"} placeholder={"Task Assignee"} value="" style={{ margin: 0, marginBottom: "0.8rem" }} readOnly={true} />
<span className="selectProject">Select Project</span>
<br />
<select className="addTaskDropDown" style={{ margin: 0, marginBottom: "0.8rem"  }} ><option value={""}>Select</option>Team A</select>
<button type={"button"} className="add__Task__Btn" disabled={disabled} onClick={() => editPage ? handleUpdateIssueBtnClick() : <></>}>{editPage ? "Update Issue" : "Add Issue"}</button> */