.wrapper {
  display: flex;
  flex-direction: column;
  align-items: left !important;
}

.team-screen-threads {
  width: 80%;
  margin: auto;
  padding: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.team-screen-thread-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-screen-threads-card {
  height: 100%;
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.thread-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding: 3% 4%;
  /* gap: 5rem; */
}

.team-screen-threads-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 2rem;
}

.team-screen-threads-container p {
  font-size: 0.9rem;
  color: #000;
  white-space: pre-line;
}

.team-screen-threads-progress {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 0.6rem;
}

.progress {
  /* width: max-content; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}

.progress p {
  font-size: 0.8rem;
  font-weight: 600;
}

.threads-created {
  width: 50%;
  height: 50%;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.threads-btn {
  width: 40%;
  height: 40%;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: red;
  cursor: pointer;
}

.active-thread-btn {
  width: 40%;
  height: 40%;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #005734;
  cursor: pointer;
}

.comments-section {
  cursor: pointer;
}

.comment-action {
  padding: 0.5% 3% 3% 3%;
  width: 100%;
}

.comment-action .comment-input {
  width: 100%;
}

.comment-action p {
  font-size: 0.8rem;
}

.comments {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comment-input {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: 1px solid #838383;
  border-radius: 4px;
  font-size: 0.8rem;
}

.text-area {
  display: flex;
  margin: 0.5rem;
  align-items: center;
}

.text-area .button-comment {
  padding: 0px 1rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  background: #005734;
  font-weight: 400;
  height: 2.5rem;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: 1px solid white;
}

.text-area .button-comment:hover {
  background: white;
  color: #005734;
  border: 1px solid #005734;
}

textarea {
  width: 100%;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-family: poppins;
  font-size: 0.8rem;
}

.comments span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #838383;
}

.comments-section svg {
  font-size: 1.8rem;
}

.candidate-comments-section {
  width: 90%;
}

.user-candidate {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.user-candidate .date {
  font-size: 0.6rem;
  color: #838383;
}
.comment-area {
  width: 100%;
  margin: 0.5rem 0;
  font-family: poppins;
  border: none;
  color: #000;
  background: none;
  font-size: 0.8rem;
}

/* .comment-area:hover{
  background-color: #ccc;
} */

/* Styling for the image hover effect */
.image-container {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.image-container img {
  width: 100% !important;
  height: 230px;
  object-fit: cover;
  margin: auto;
}

.view-btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-container:hover .view-btn-container {
  opacity: 1;
}

.image-container:hover img {
  opacity: 0.2;
}

.view-btn {
  padding: 8px 16px;
  background-color: #005734;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal_content {
  position: relative;
  max-height: 80%;
}

.modal_content img {
  width: 70rem;
  /* height: 100%; */
  object-fit: cover;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  background-color: #005734;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-btn {
  margin: 0.3rem;
  padding: 0.1rem 0.3rem;
  border: none;
  background-color: #005734;
  color: #fff;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.text-area {
  display: flex;
  margin: 0.5rem;
}

.text-area button {
  padding: 0px 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  background: #005734;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  border: 1px solid white;
}

textarea button:hover {
  background: white;
  color: #005734;
  border: 1px solid #005734;
}

.new__comments {
  max-height: 300px;
  overflow-y: scroll;
}

@media screen and (max-width: 468px) {
  .team-screen-threads {
    padding: 0;
    width: 90%;
  }
}
