.switch_screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0% 2%;
    margin: 1rem auto;
}

.switch_screen p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    margin: 0% 2%;
    padding-bottom: 4px;
    cursor: pointer;
    color: #807f7f;
}

.switch_option.active {
    color: #fff;
    /* color: red; */
    /* border-bottom: 5px solid #005734; */
    font-weight: 300;
    font-size: 1rem;
    padding: 8px;
    background-color: #005734;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 2);
    border-radius: 10px;
}

.leave_card {
    width: 26%;
    padding: 1.5%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-top: 2%;
}

.leave_card_mainWrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 85%;
    margin: 1rem auto;
}

.leave_card_mainWrap .leave_card .info_leave p {
    font-size: 0.8rem;
    padding: 5px;
}

.leave_card_mainWrap .leave_card .info_leave p b {
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
}

.leave_card_mainWrap .leave_card .info_leave {
    width: 95%;
    background-color: #f2f2f2;
    padding: 1%;
    margin: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.leave_main_wrap {
    width: 100%;
    margin-bottom: 40%;
}

.button_container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* padding: 2%; */
    margin: 0.5rem;
}

.button_container button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #0a6657;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button_container .deny_leave {
    background-color: #bebdbc;
}

.avatar_wrap {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    .leave_card {
        width: 39%;
    }

    .leave_card_mainWrap {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .leave_card {
        width: 60%;
    }
}