.wrapper {
    width: 82%;
    margin: 1rem auto;
    height: 100%;
    margin-bottom: 280px;
}

.wrapper h1 {
    color: #005734;
    font-size: 1.6rem;
    letter-spacing: 0.01em;
}

.item__Box__Wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.hairline {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.9rem;
    color: #A3A1A1;
}

.active__Item {
    color: #000;
}

.custom_hr {
    height: 1px;
    background-color: #EBEBEB;
    margin: 1rem auto;
}

.top__Agenda__Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top__Agenda__Content input,
.save__Btn,
.select__item select,
.select__item input,
.top__Agenda__Content textarea,
.add__Agenda__Btn,
.agenda__Table input,
.track__Btn {
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.agenda_title {
    font-weight: 700;
    font-size: 2rem;
    color: #000;
    min-width: 45%;
    max-width: 60%;
    caret-color: #005734;
}

.agenda_title::placeholder,
.agenda_title::-moz-placeholder {
    color: #000;
}

.agenda__Title__Wrap {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.save__Btn {
    background-color: #005734;
    color: #fff;
    padding: 0.45rem 1.25rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.save__Btn:hover,
.save__Btn:focus {
    filter: brightness(0.9);
}

.agenda__Mid__Content {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.agenda__Mid__Content label span {
    font-size: 0.9rem;
    color: #A3A1A1;
    margin-bottom: 0.2rem;
    display: block;
}

.select__item {
    border: 1px solid #C8C8C8;
    padding: 0.45rem 1.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: max-content;
}

.select__item select {
    background-color: #fff;
    cursor: pointer;
    max-width: 10rem;
}

.date__Select {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.timeline__Header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.timeline__Count {
    background-color: #FEAB0A;
    color: #fff;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: normal;
}

.table__Wrap {
    margin: 1rem 0 2rem;
    border: 1px solid #C8C8C8;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.agenda__Table {
    border-collapse: collapse;
    margin: 0;
}

.agenda__Table {
    font-size: 0.95rem;
}

.agenda__Table thead tr td {
    color: #909090;
}

.agenda__Table td {
    text-align: left;
}

.add__Agenda__Btn {
    width: max-content;
    background: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: #909090;
    transition: 0.3s ease-in-out;
}

.add__Agenda__Btn:hover,
.add__Agenda__Btn:focus {
    color: #FEAB0A;
}

.actions__Wrap {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
    justify-content: flex-end;
    padding-right: 1rem;
}

.agenda__Table input {
    padding: 0.1rem 0.6rem;
    caret-color: #005734;
}

.assign__Member__Wrap {
    position: relative;
}

.select__User {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
}

.select__User h3 {
    margin: 0;
    letter-spacing: 0.01em;
}

.user__Search__Wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.user__Search__Wrap svg {
    width: 10%;
}

.user__Search__Wrap input {
    width: 90%;
}

.user__Listing {
    max-height: 10rem;
    overflow-y: auto;
    width: 100%;
    text-align: left;
    scrollbar-width: thin;
}

.user__Listing::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.user__Listing::-webkit-scrollbar-track {
    background: #efefef;
}

.user__Listing::-webkit-scrollbar-thumb {
    background: #b8b8b8;
}

.user__Listing::-webkit-scrollbar-thumb:hover {
    background: #005734;
}

.user__Listing p {
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 6px;
}

.user__Listing p:hover,
.user__Listing p:focus {
    background-color: #005734;
    color: #fff;
} 

.user__Assigned__Wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    max-width: 100%;
}

.user__Assigned__Wrap__Overflow {
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
}

.user__Assigned__Wrap__Overflow::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.user__Assigned__Wrap__Overflow::-webkit-scrollbar-track {
    background: #efefef;
}

.user__Assigned__Wrap__Overflow::-webkit-scrollbar-thumb {
    background: #b8b8b8;
}

.user__Assigned__Wrap__Overflow::-webkit-scrollbar-thumb:hover {
    background: #005734;
}

.flex__Items {
    max-width: 10rem;
}

.remove_user__Icon {
    position: absolute;
    top: 0;
    right: -10px;
}

.track__Agenda__Title {
    color: #808080;
    font-weight: 600;
    font-size: 1rem;
}


.track__Btn {
    padding: 0.45rem 1.25rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 1px solid #005734;
    background: none;
}

.track__Btn:hover,
.track__Btn:focus {
    filter: brightness(0.9);
    background-color: #005734;
    color: #fff;
}

.load__More__Wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.load__More__Wrap span {
    font-size: 0.85rem;
    color: #808080;
}

.load__Btn {
    font-size: 0.75rem;
    padding: 0.4rem 1rem;
}

.track__Agendas__Wrap,
.track__Agenda__Item__Wrap {
    margin: 3.5rem 0;   
    height: max-content;
}

.track__Agendas__Wrap {
    padding-bottom: 100px;
}

.track__Agenda__Item__Wrap {
    width: 100%;
    position: relative;
    display: flex;
    gap: 2rem;
}

.progress__Wrap {
    /* max-width: 2.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.progress {
    background-color: #E0EAE6;
    width: 0.6rem;
    height: calc(100% - 3rem);
}

.active__Progress {
    background-color: #005734;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    animation: fadeIn 1s ease-in-out;
}

.track__Agenda__Item {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 1rem;
    gap: 4.5rem;
}

.track__Agenda__Item > div:first-child {
    width: 35%;
}

.track__Agenda__Item > div:last-child {
    width: 65%;
}

.date__Title {
    color: #005734;
    font-weight: 600;
    font-size: 1.5rem;
}

.item__Date__Title {
    white-space: nowrap;
}

.stat__Subtitle,
.item__Subtitle {
    font-size: 0.8rem;
}

.item__Subtitle {
    color: #A0A0A0;
}

.active, 
.inactive {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #005734;
}

.inactive {
    background-color: #E0EAE6;
}

.inner__Marker {
    width: 0.6rem;
    height: 0.6rem;
    background-color: #fff;
    border-radius: 50%;
}

.agenda__in__Progress {
    color: #EDD974;
}

.agenda__To__Do {
    color: #A6A5A5;
}

.agenda__On__time {
    color: #005734;
}

.agenda__Overdue {
    color: #F00;
}

.date_start_input {
    width: max-content;
    max-width: 5rem;
}

.approve_btn_{
    height: auto;
}

.approve_btn_ .approve_btn_btn{
    padding: 6px 10px;
    background-color: #005734;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 8px;
}

@media screen and (max-width: 500px) {
    .wrapper {
        margin-bottom: 120px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}