* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
.task__Indicator{
  background-color: red;
}
.center__Text{
  text-align: center;
}


@media screen and (min-width: 992px) {
  .group__Lead__User__Logs {
    width: 84%;
    margin: 2rem auto;
  } 
}