.custom_loader {
    mask: 
      linear-gradient(90deg,#000 70%,#0000 0) calc(0*100%/4) 100%/calc(100%/5) calc(1*100%/5),
      linear-gradient(90deg,#000 70%,#0000 0) calc(1*100%/4) 100%/calc(100%/5) calc(2*100%/5),
      linear-gradient(90deg,#000 70%,#0000 0) calc(2*100%/4) 100%/calc(100%/5) calc(3*100%/5),
      linear-gradient(90deg,#000 70%,#0000 0) calc(3*100%/4) 100%/calc(100%/5) calc(4*100%/5),
      linear-gradient(90deg,#000 70%,#0000 0) calc(4*100%/4) 100%/calc(100%/5) calc(5*100%/5);
    -webkit-mask: 
      linear-gradient(90deg,#000 70%,#0000 0) calc(0*100%/4) 100%/calc(100%/5) calc(1*100%/5),
      linear-gradient(90deg,#000 70%,#0000 0) calc(1*100%/4) 100%/calc(100%/5) calc(2*100%/5),
      linear-gradient(90deg,#000 70%,#0000 0) calc(2*100%/4) 100%/calc(100%/5) calc(3*100%/5),
      linear-gradient(90deg,#000 70%,#0000 0) calc(3*100%/4) 100%/calc(100%/5) calc(4*100%/5),
      linear-gradient(90deg,#000 70%,#0000 0) calc(4*100%/4) 100%/calc(100%/5) calc(5*100%/5);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: p4 2s infinite steps(6);
}
@keyframes p4 {
  100% {background-size: 120% 100%}
}