.bottom-nav-container{
    --grey-color: #838383;
    --light-grey: #C4C4C4;
    --black: #000;
    --green-color: #045632;
    --white: #fff;
    font-family: 'Inter', sans-serif;
}

.bottom-nav-container{
    background: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    padding: 5% 7%;
    max-width: 100%;
    z-index: 10;
}

.bottom-nav-container > * {
    cursor: pointer;
}

.bottom-nav-container .bottom-navigation-item a > *{
    display: block;
    margin: 0 auto;
    font-size: 1.4rem;
}

.bottom-nav-container .bottom-navigation-item a{
    line-height: 12.1px;
    font-size: 0.625rem;
    margin-top: 10%;
    text-decoration: none;
    color: var(--light-grey);
}

.bottom-nav-container .bottom-navigation-item a.active{
    color: var(--green-color);
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .bottom-nav-container{
        padding: 3% 7%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .bottom-nav-container{
        padding: 2% 7%;
    }
}


@media (min-width: 1200px){
    .bottom-nav-container{
        padding: 1% 15.5% 1% 14%;
    }   
}